.todo {
  width: 500px;
}
.todo-add {
  display: inline-block;
  width: 360px;
  height: 40px;
  line-height: 40px;
  border: 2px solid black;
  border-radius: 10px;
}
.todo-add-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  width: 50px;
  height: 37px;
  margin-left: 15px;
}
.todo-add-btn:hover {
  background-color: #ff7477;
  color: white;
}
.todo-list {
  width: 440px;
  height: 550px;
  margin-top: 20px;
  padding-right: 8px;
  overflow-x: hidden;
}
.todo-list::-webkit-scrollbar {
  width: 8px;
}

.todo-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #929292;
  border-radius: 10px;
}

/* List */
.list {
  position: relative;
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.list li {
  display: flex;
  height: 50px;
  line-height: 52px;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 15px 15px;
}

input[type="checkbox"]:checked {
  background-color: #ff7477;
  border-color: #ff7477;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  color: white;
  font-size: 16px;
  position: absolute;
  top: -3px;
  left: 2px;
}

.list button {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  width: 50px;
  height: 32px;
  margin-left: 15px;
  margin-top: 10px;
}
.list button:hover {
  background-color: #ff7477;
  color: white;
}

.todo-btn {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.todo-add-input {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 20px;
  line-height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 9px;
  padding: 5px;
}

.todo-add-input input {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 175px;
  margin: 1px 3px;
}
