.App {
  margin-top: calc(50vh - 400px);
  margin-left: calc(50vw - 250px);
  width: 440px;
  height: 700px;
  background-image: url("./assets/imgs/paper.jpg");
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: "Dovemayo_gothic";
}

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
